*{
box-sizing: border-box;
}


header {
box-shadow: 0px 0px 10px black;
margin: 0;
position: sticky;
top:0;
z-index: 1;
background-color: #f4eee8;
width: 100%;
padding: 20px;
height: 100px;
background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));

}  
.site-logo {
width: 50px;
height: 70px;
float: left;


vertical-align: middle;
line-height: 20px;
}

body header h1{
position: absolute;
left:50px;
color:#f4eee8 ;
font-weight: bold;
display: inline-block;
padding-left: 5px;
margin-top: 0px;
vertical-align: middle;
line-height: 50px;
}
header nav{
float: right;
padding-left: 20px;
}
header nav ul li{
display: inline-block;
padding-left: 20px;
}
header nav ul li a{
text-decoration: none;
color:#eee2dc;
text-transform: uppercase;
font-size: 15px;
font-weight: bolder;
}
header nav ul li a:hover{
color: #ca8a8b;
}


footer{
clear: both;
width: 100%;
height: 200px;
text-align:end;
background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));
color: #ac3b61 ;
padding: 50px;
padding-top: 0px;
background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));
}


footer .list{
float: left;
font-weight: bold;
display: block;
padding-top: 0px;
}
footer .list ul h2{

color: #f5f1ee ;

padding-bottom: 5px;
padding-left: 10px; 
}
footer .list ul li{
display: table;
padding-left: 20px;
}
footer .list ul li p{
color: #123c69;
}
footer .list ul li a{
text-decoration: none;
color: #123c69;
}
footer .list ul li a:hover{
color: #eee2dc;
}
#Location{
text-align:left;
}
#Contact{
text-align:left;
}
#Opening{
text-align:left;
}




body {
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background-color: #f5f1ee;
  color: #123c69;
}



main h1 {
  text-align: center;
  font-size: 55px;
}

main img {
  width: 290px;
  border-radius: 100px;
}

section {
  margin-top: 100px;
  margin-bottom: 170px;
}

#section1 img{
  display:block;
  margin-left: auto;
  margin-right: auto;
}

main h2 {
  text-align: center;
}

#section2 div{
  display: inline-block;
  margin-right: 57px;
  margin-left: 57px;
}



#section3 div{
  display: inline-block;
  margin-right: 57px;
  margin-left: 57px;
}


img {
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
filter: grayscale(100%);
filter: gray; 

}



img:hover {
-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
filter: none;
transition: all 0.2s;
-webkit-transition: all 0.2s;
-moz-transition: all 0.2s;
} 

