body{
  font-family: 'Work Sans', sans-serif;
  margin: 0;
  background-color: #f5f1ee;
  color: #123c69;
  display: flex;
  justify-content: space-around;
  /* align-items: center; */
  flex-direction: column;

}

*{
  box-sizing: border-box;
}

.row::after{
  content: '';
  display: table;
  clear: both;
}

header{
  background-color:#bab2b5 ;
  padding: 30px;
}

main h1{
  text-align: center;
  font-size:45px ;
  color: rgb(87, 23, 23);
  margin: 1.5 0px;
}

main h2{
  color: rgb(87, 23, 23);
  margin: 1.5 0PX;
}

.left-column{
  float: left;
  margin-top: 15px;
  width: 75%;
}
.right-column{
  width: 25%;
  float:right;
  padding-right: 20px;
}
.right-column .card{
  padding: 20px;
  border-style: groove;
  background-image:  linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgba(9, 201, 185, 0.349),rgba(0, 87, 145, 0.322));
  margin-top: 14px;
}
.card img{
  width: 100%;
}
.right-column .card img{
  margin-bottom: 10px;

}
.txt-center {
    text-align: center;
  }
  .hide {
    display: none;
  }

  .clear {
    float: none;
    clear: both;
  }

  .rating {
      width: 90px;
      unicode-bidi: bidi-override;
      direction: rtl;
      text-align: center;
      position: relative;
  }

  .rating > label {
      float: right;
      display: inline;
      padding: 0;
      margin: 0;
      position: relative;
      width: 1.1em;
      cursor: pointer;
      color: #000;
  }

  .rating > label:hover,
  .rating > label:hover ~ label,
  .rating > input.radio-btn:checked ~ label {
      color: transparent;
  }

  .rating > label:hover:before,
  .rating > label:hover ~ label:before,
  .rating > input.radio-btn:checked ~ label:before,
  .rating > input.radio-btn:checked ~ label:before {
      content: "\2605";
      position: absolute;
      left: 0;
      color: #FFD700;
  }


footer{
  background-color: #bab2b5;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}


.field input{
  /* background: none;
  border: 2px solid #ddd;
  transition: border-color 0.3s ease; */
  /* width: 100%; */
  /* display: inline; */
  height: 100%;
  padding-top: 20px;
  border: none;
}

input {
  background-color: #f5f1ee;
  border-style: groove;
  color: #123c69;
  border: none
}

.field label{
  position: absolute;
  bottom: 0px;
  left: 0%;
  /* width: 100%; */
  height: 100%;
  pointer-events: none;
  border-bottom: 1px solid black;
}

.field label::after{
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 100%;
  /* width: 100%; */
  border-bottom: 3px solid #5fa8d3;
}

#fields{
  width: 100px;
  border-style: groove;
}


#blogSection div{
  background-image:  linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgba(9, 201, 185, 0.349),rgba(0, 87, 145, 0.322));
  
  margin-left: 37px
}

#comment {
  height: 90px;
}



#blogComments{
  border-style: groove;
  margin-left: 2px;
  margin-top: 20px;
  width: 854px;
}



#blogComments p{
  margin-left: 10px;
}

#blogComments #name{
  text-decoration: underline;
}

#blogComments #rating{
    font-weight: bold;
}

#blogComments #comment{
  font-style: italic;
  margin-bottom: 0px;
  height: 50px

}

legend {
  color: #AC3b61;
  font-size: 20px ;
}

#underline {
  text-decoration: underline;
  margin-left: 37px;

}



@import "compass/css3";

  * {
    box-sizing: border-box;
  }
S

html {
  font-family: 'Lato', sans-serif;
}

.section-form {
  border-style: groove;
  background-image:  linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgba(9, 201, 185, 0.349),rgba(0, 87, 145, 0.322));
  margin-left: 40px;
  width: 850px;
  
  padding: 2em;
}

input[type=text] {
  height: 45px; 
}

input[type=text], textarea {
  width: 100%;
  margin-bottom: 1em;
  font-size: .9em;
  font-weight: 300;
  padding: .5em 1em;
  border: 2px groove;
  color: #555555;
  font-weight: 300;
}

input[type=button] {
  cursor: pointer;
  margin: 0;
  padding: .5em 2em;
  background: #636363;
  border: none;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
}

#submit {
  font-size: 20px;
  display: block;
  margin: 0 auto;
  padding: 10px;
  background-color: rgb(87, 23, 23);
  border-radius: 10px;
  color: #f5f1ee;
  
}


*{
  box-sizing: border-box;
  }
  
  
  header {
  box-shadow: 0px 0px 10px black;
  margin: 0;
  position: sticky;
  top:0;
  z-index: 1;
  background-color: #f4eee8;
  width: 100%;
  padding: 20px;
  height: 100px;
  background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));
  
  }  
  .site-logo {
  width: 50px;
  height: 70px;
  float: left;
  
  
  vertical-align: middle;
  line-height: 20px;
  }
  
  body header h1{
  position: absolute;
  left:50px;
  color:#f4eee8 ;
  font-weight: bold;
  display: inline-block;
  padding-left: 5px;
  margin-top: 0px;
  vertical-align: middle;
  line-height: 50px;
  }
  header nav{
  float: right;
  padding-left: 20px;
  }
  header nav ul li{
  display: inline-block;
  padding-left: 20px;
  }
  header nav ul li a{
  text-decoration: none;
  color:#eee2dc;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bolder;
  }
  header nav ul li a:hover{
  color: #ca8a8b;
  }
  
  
  footer{
    
    
    width: 100%;
    height: 200px;
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));
    color: #ac3b61 ;
    padding: 50px;
    padding-top: 0px;
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));
}
#icons img {
    width: auto;
    height: auto;
    float: right;
    border: 0px solid;
    padding-right: 20px;
    padding-top: 20px;
 }
footer div{
    float: left;
    width: 22%;
    text-align: start;
    margin-right: 30px;
}
footer div ul{
    list-style-type:none;
    padding:0;
    margin:0;
}
footer div ul li{
    margin-left: 0;
    color:#123c69 ;
    font-weight: bold;
}
footer div ul li a{
    text-decoration: none;
    color:#123c69;
    transition-duration: 0.3s;
}
footer div ul li a:hover{
    color:#f4eee8 ;
}


footer div h2{
    font-size: 26px;
    color:#f4eee8;
}

