
/* the slider*/

#slider{
    width:80%;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;


    display: flex;
  justify-content: center;

    margin-top:40px;
    margin-bottom: 60px;
    display: flex;
  justify-content: center;
  box-shadow: 0px 0px 10px black;
} 

.pic {
    width: 100%;
    height: 100%;
    animation: fadeIn 5s;
}
@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  

*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}



header {
    box-shadow: 0px 0px 10px black;
    position: sticky;
    top:0;
    z-index: 1;
background-color: #f4eee8;
width: 100%;
padding: 20px;
height: 100px;
background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));

}  
.site-logo {
    width: 50px;
    height: 70px;
    float: left;
vertical-align: middle;
line-height: 20px;
}

body header h1{
    position: absolute;
    left:50px;
    color:#f4eee8 ;
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
    margin-top: 0px;
    vertical-align: middle;
    line-height: 50px;
}
header nav{
    float: right;
    padding-left: 20px;
}
header nav ul li{
    display: inline-block;
    padding-left: 20px;
}
header nav ul li a{
    text-decoration: none;
    color:#eee2dc;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
}
header nav ul li a:hover{
color: #ca8a8b;
}

footer{
    clear: both;
    width: 100%;
    height: 200px;
    text-align:end;
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));
    color: #ac3b61 ;
    padding: 50px;
    padding-top: 0px;
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));
}
#icons img {
    width: auto;
    height: auto;
    float: right;
    border: 0px solid;
    padding-right: 20px;
    padding-top: 20px;
 }

footer .list{
    float: left;
    font-weight: bold;
    display: block;
    padding-top: 0px;
}
footer .list ul h2{

   color: #f5f1ee ;

   padding-bottom: 5px;
   padding-left: 10px; 
}
footer .list ul li{
    display: table;
    padding-left: 20px;
}
footer .list ul li p{
    color: #123c69;
}
footer .list ul li a{
    text-decoration: none;
    color: #123c69;
}
footer .list ul li a:hover{
    color: #eee2dc;
}
#Location{
    text-align:left;
}
#Contact{
    text-align:left;
}
#Opening{
    text-align:left;
}


/* this is saeed's work */
body{
    background-color:#f5f1ee;
    text-align: center;
    margin: 0;
    min-width: 1000px;
}
body main{
    clear: both;
}
.besties{
 
    height: 100%;
    width: 100%;
    object-fit: contain;
    filter: blur(7px);
    transition-duration:0.5s ;
}
.besties:hover{
    filter: none;
}

#bestSeller{
    text-align: center;
    display: inline-block;
    height: 350px;
    width: 60%;
    perspective: 800px;
    padding: 0;
    margin-bottom: 50px;
}
.imgContainer{
    margin-left: 5px;
    margin-right: 5px;
    height: 100%;
    width: 25%;
    display: inline-block;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.8);
    transition-duration:0.5s ;
    
}
#bestSeller:hover .imgContainer{
    transform: rotateY(30deg);
}
#bestSeller .imgContainer:hover{
    transform: rotateY(0deg);
    transform: scale(1.1,1.1);
    box-shadow: 0px 20px 40px rgba(0,0,0,0.8);

}
#bestSeller .imgContainer:hover ~ .imgContainer{
    transform: rotateY(-30deg);
}

#mainBranch{
    width: 100%;
    height:500px;
    text-align: center;
}

.branch{
    margin-top:10px;
    margin-right: 30px;
    margin-left: 30px;
    display: inline-block;
    height: 300px;
    width: 250px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
   
}
.loc{
    border-radius: 50px;
    width: 100%;
    height:100%;
}

.branch p{
    font-weight: bold;
    color:#123c69 ;
}
h2, h3{
    color: #123c69;
}