*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

body {
background-color: #eee2dc;
}

header {
background-color: #f4eee8;
width: 100%;
padding: 20px;
height: 100px;
background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));

}  
.site-logo {
    width: 50px;
    height: 70px;
    /* float: left; */
display: inline-block;
vertical-align: middle;
line-height: 20px;
}

body header h1{
    color:#ac3b61 ;
    font-weight: bold;
    display: inline-block;
    padding-left: 5px;
    margin-top: 0px;
    vertical-align: middle;
    line-height: 50px;
}
header nav{
    float: right;
    padding-left: 20px;
}
header nav ul li{
    display: inline-block;
    padding-left: 20px;
}
header nav ul li a{
    text-decoration: none;
    color:#eee2dc;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bolder;
}
header nav ul li a:hover{
color: #ca8a8b;
}

footer{
    clear: both;
    width: 1500px;
    height: 200px;
    text-align:end;
    background-color:#f4eee8 ;
    color: #ac3b61 ;
    padding: 50px;
    padding-top: 0px;
    background-image: linear-gradient(306deg, rgba(54, 54, 54, 0.05) 0%, rgba(54, 54, 54, 0.05) 33.333%,rgba(85, 85, 85, 0.05) 33.333%, rgba(85, 85, 85, 0.05) 66.666%,rgba(255, 255, 255, 0.05) 66.666%, rgba(255, 255, 255, 0.05) 99.999%),linear-gradient(353deg, rgba(81, 81, 81, 0.05) 0%, rgba(81, 81, 81, 0.05) 33.333%,rgba(238, 238, 238, 0.05) 33.333%, rgba(238, 238, 238, 0.05) 66.666%,rgba(32, 32, 32, 0.05) 66.666%, rgba(32, 32, 32, 0.05) 99.999%),linear-gradient(140deg, rgba(192, 192, 192, 0.05) 0%, rgba(192, 192, 192, 0.05) 33.333%,rgba(109, 109, 109, 0.05) 33.333%, rgba(109, 109, 109, 0.05) 66.666%,rgba(30, 30, 30, 0.05) 66.666%, rgba(30, 30, 30, 0.05) 99.999%),linear-gradient(189deg, rgba(77, 77, 77, 0.05) 0%, rgba(77, 77, 77, 0.05) 33.333%,rgba(55, 55, 55, 0.05) 33.333%, rgba(55, 55, 55, 0.05) 66.666%,rgba(145, 145, 145, 0.05) 66.666%, rgba(145, 145, 145, 0.05) 99.999%),linear-gradient(90deg, rgb(9, 201, 186),rgb(0,86,145));
}
#icons img {
    width: auto;
    height: auto;
    float: right;
    border: 0px solid;
    padding-right: 20px;
    padding-top: 20px;
 }

footer .list{
    float: left;
    font-weight: bold;
    display: block;
    padding-top: 0px;
}
footer .list ul h2{
   color: #eee2dc ;
   padding-bottom: 5px;
   padding-left: 10px; 
}
footer .list ul li{
    display: table;
    padding-left: 20px;
}
footer .list ul li p{
    color: #123c69;
}
footer .list ul li a{
    text-decoration: none;
    color: #123c69;
}
footer .list ul li a:hover{
    color: #eee2dc;
}
#Location{
    text-align:left;
}
#Contact{
    text-align:left;
}
#Opening{
    text-align:left;
}